@charset "UTF-8";
/* Remix main styles */

/* base font sizes for desktop and mobile */

* {
   border-radius: 1px !important;
}

html {
   font-size: 16px;
}

/* main typography for desktop -------------------------------------------------------- */

body {
   font-family: 'Open Sans', "Segoe UI", "Helvetica Neue", sans-serif;
   background-color: #FAFAFA;
   font-size: 16px;
   /* background-color: #f5f8fa; Bootstrap theme blue not used */
}

h1 {
   font-size: 2.5rem !important;
   font-weight: 300 !important;
}

h2 {
   font-size: 2rem !important;
   font-weight: 400 !important;
}

h3 {
   font-size: 1.75rem !important;
   font-weight: 400 !important;
}

h4 {
   font-size: 1.5rem !important;
   font-weight: 400 !important;
}

h5 {
   font-size: 1.25rem !important;
   font-weight: 600 !important;
}

h6 {
   font-size: 1rem !important;
   font-weight: 600 !important;
}

h1, h2, h3, h4, h5, h6 {
   margin-bottom: .5rem;
   margin-top: 0;
   /* color: #0C2340 !important; */
   color: #002a5d !important;
}

p, ul, li, th, tr, td, dd, dl, a, input, textarea, button, select, option, pre {
   font-weight: 400;
   font-size: 1rem;
   line-height: 1.5;
}

p {
   margin: 0 0 1rem 0;
}

footer {
   background: #0C2340;
   padding: 1.5rem 1rem;
}

footer p {
   color: lightgrey;
}

a,
a:link,
a:visited,
a:hover,
a:active {
   color: #2A5DB0;
   font-weight: 600;
}

footer a,
footer a:link,
footer a:visited,
footer a:hover,
footer a:active {
   color: white;
}

.lead {
   font-weight: 300 !important;
}

.spacer-right {
   margin-right: .5rem;
}

.spacer-left {
   margin-left: .5rem;
}

.panel-heading {
   background-color: aliceblue !important;
}

.panel-title a {
   font-weight: 600 !important;
   font-size: inherit;
}

/* page masthead links */
#nd-header {
   background-color: #002a5d !important;
   /* background-position: 0 0; */
   /* background-repeat: repeat-x; */
   min-height: 50px;
}

.nd-link, #provost-link {
   font-family: 'EB Garamond', serif;
}

.nd-link a, #provost-link a {
   letter-spacing: .2rem;
   color: white;
   cursor: pointer;
   text-decoration: none;
}

.nd-link a:hover, #provost-link a:hover,
#about-project:hover, #about-resources:hover {
   color: lightgrey;
}

.nd-link, #provost-link {
   padding-top: .75rem !important;
}

#nd-brand-link {
   color: #0C2340 !important;
   font-size: inherit;
}

.navbar li.active a {
   font-weight: 600 !important;
}

.nav li.active a {
   color: #383d41 !important;
   background-color: #e2e3e5 !important;
   border-color: #d6d8db !important;
}

hr {
   border-top: 1px solid lightgrey;
}

/* colors  ----------------------------------------------------------------- */

.ndblue {
   color: #0C2340;
}

.lightgrey {
   color: lightgrey;
}

.white {
   color: white;
}

.push-down-1 {
   margin-top: 1rem;
}

#print-this-page {
   cursor: pointer !important;
   z-index: 1000;
}

/* Print style sheet */

@media print {

/* resets the coloron the main container elements */
body, html {
   background: none;
   background-color;: none;
}

/* hides headers, navs and the footer */
header, nav, footer {
   display: none !important;
}

/* hides the brandbar */
#nd-header{
   display: none;
}

/* sets no borders on all panels --panels are opened with Javascript */
.panel {
   border: none !important;
}

/* turns off the color on the panel headers */
.panel-heading {
   background: none !important;
}
